.footer {
	background-color: darkslategray;
	height: 250px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo-footer {
	height: 200px;
	margin-bottom: 10px;
}

.redes-sociais {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 200px;
	height: 250px;
}
.titulo-sociais {
	color: white;
	font-size: 21px;
}

.sociais {
	display: flex;
	align-items: center;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.sociais:hover {
	cursor: pointer;
	text-decoration: overline;
}

.sociais span {
	margin-left: 10px;
}

@media (max-width: 550px) {
	.footer {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}
